# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Scientific datasets
# =========================
*.nc
*.nc4
*.h5
*.hdf5
*.grib
*.grib2

# Local downloaded data
backend/data/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db